/* Reseteo CSS */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  height: 101%; }

body {
  font-size: 62.5%;
  line-height: 1;
  font-family: Arial, Tahoma, sans-serif; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

strong {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  border: 0;
  max-width: 100%; }

p {
  font-size: 1.2em;
  line-height: 1.0em;
  color: #333; }

/* Fin del reseteo */
.background {
  background: #f5f2eb; }

#portada_nosotros {
  background-image: url("../img/portada-nosotros.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  max-width: auto;
  height: 30rem;
  min-height: 500px;
  text-align: center; }
  #portada_nosotros p {
    color: #D6D6D6;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2rem;
    clear: left;
    top: 15rem;
    left: 0;
    right: 0;
    position: absolute; }

#nosotros {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  max-width: auto; }
  #nosotros .nosotros_img {
    width: 45%;
    margin: 5% 5% 5% 10%; }
    #nosotros .nosotros_img img {
      -webkit-box-shadow: -12px 14px 66px -26px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: -12px 14px 66px -26px rgba(0, 0, 0, 0.75);
      box-shadow: -12px 14px 66px -26px rgba(0, 0, 0, 0.75); }
  #nosotros .nosotros_texto {
    margin: 5% 10% 5% 0%;
    width: 55%;
    text-align: justify;
    line-height: 2rem; }

section h3 {
  font-family: 'Bebas Neue';
  font-size: 2rem;
  padding: 3rem;
  text-align: center; }

section .iconos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 3rem; }
  section .iconos p {
    font-family: 'Bebas Neue';
    font-size: 1.2rem;
    padding: 2rem;
    text-align: center; }

#portada_menu {
  background-image: url("../img/postre.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 25rem; }
  #portada_menu p {
    color: #f5f2eb;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2rem;
    clear: left;
    top: 15rem;
    left: 0;
    right: 0;
    position: absolute; }

.menu_bg {
  width: 100%;
  height: 35rem;
  margin-top: 5rem; }
  .menu_bg .menu_lista {
    display: flex;
    flex-direction: row;
    justify-content: center; }
    .menu_bg .menu_lista .menu {
      font-size: 1.3rem;
      font-family: 'bebas neue', arial, helvetica;
      background-color: rgba(255, 255, 255, 0.89);
      box-shadow: -2px 9px 38px 0px rgba(0, 0, 0, 0.75);
      -webkit-box-shadow: -2px 9px 38px 0px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: -2px 9px 38px 0px rgba(0, 0, 0, 0.75);
      height: 25rem;
      width: auto;
      text-align: center;
      margin-top: 6%;
      margin-bottom: 6%;
      padding: 2% 25%; }
      .menu_bg .menu_lista .menu h5 {
        padding: 1rem;
        color: #b7986d;
        font-size: 1.5rem;
        text-align: center; }

main .parrafo {
  margin-left: 20px;
  width: 100%;
  text-align: center; }

main .size {
  max-width: 70%;
  margin: auto;
  padding-bottom: 5rem; }

.productos section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 1em; }

.productos h5 {
  font-size: 1.5rem;
  padding: 1.5rem;
  text-align: center;
  font-family: 'bebas neue', arial; }

.productos section .foto img {
  width: 100%;
  vertical-align: top;
  opacity: .7; }

.productos section .foto img:hover {
  opacity: 1;
  transition: all .4s ease; }

#portada_sucursales {
  background-image: url("../img/sucursales.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 25rem;
  width: 100%; }
  #portada_sucursales p {
    color: white;
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    font-size: 2.9rem;
    clear: left;
    top: 11rem;
    left: 0;
    right: 0;
    position: absolute; }

#sucursales {
  width: 100%;
  margin-top: 10rem;
  margin-bottom: 10rem; }
  #sucursales p {
    text-align: center;
    font-family: 'Arial', Helvetica, sans-serif;
    font-size: 1.3rem; }
  #sucursales h2 {
    text-align: center;
    margin: 6rem 1.5rem 4rem 1.5rem;
    font-family: 'Bebas Neue', cursive;
    font-size: 1.6rem; }
  #sucursales .card-deck {
    margin: 1rem 5% 5rem 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
  #sucursales .card {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: .25rem; }

#portada_contacto {
  background-image: url("../img/contacto.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 25rem; }
  #portada_contacto p {
    color: #D6D6D6;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Bebas Neue', cursive;
    font-size: 2.5rem;
    clear: left;
    top: 15rem;
    left: 0;
    right: 0;
    position: absolute; }

.texto_p {
  text-align: center;
  font-size: 1.2rem;
  font-family: 'Bebas Neue', cursive;
  margin: 2rem 0; }

.contacto {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 3rem;
  margin: 3rem; }
  .contacto p {
    padding: 1.5rem 0; }
  .contacto ion-icon {
    padding: 0.8rem;
    color: #fff;
    background: #b7986d; }

.container {
  margin-bottom: 2rem; }

section .mapa {
  width: 100%;
  overflow: hidden; }
  section .mapa iframe {
    width: 100%;
    max-height: 500px; }

@media screen and (max-width: 768px) {
  .tipos_cafe {
    flex-direction: column;
    flex-wrap: wrap; }
  .galeria {
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center; }
  footer .contacto_footer {
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap; }
  #nosotros {
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center; }
    #nosotros .nosotros_img {
      margin: 10% 20% 5% 20%;
      width: 60%; }
    #nosotros .nosotros_texto {
      margin: auto;
      text-align: justify;
      font-size: 1.3em; }
  .menu_bg {
    width: auto;
    margin: auto; }
    .menu_bg .menu_lista {
      flex-direction: row;
      justify-content: center; }
  #sucursales .card-deck {
    flex-direction: column;
    justify-content: center; }
  .contacto {
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto; } }

@media screen and (max-width: 600px) {
  #sucursales .card-deck {
    flex-direction: column;
    justify-content: center; } }

@media screen and (max-width: 370px) {
  footer .contacto_footer {
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap; } }

body {
  font-family: "Roboto", sans-serif;
  width: 100%;
  max-width: auto;
  margin: 0;
  text-align: center;
  letter-spacing: 1px;
  font-size: 16px; }

#portada {
  background-image: url("../img/BG.png");
  height: 35rem; }

.ml-auto {
  margin-left: auto !important; }

div .navbar-nav .nav-item .nav-link {
  color: #fff; }

div .navbar-nav .nav-item .nav-link:hover {
  color: #b7986d; }

#portada p {
  color: #f5f2eb;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2rem;
  clear: left;
  top: 15rem;
  left: 0;
  right: 0;
  position: absolute; }
  #portada p span {
    color: #b7986d; }

#portada .boton_menu {
  position: relative;
  top: 50%;
  background-color: #b7986d;
  padding: 12px 32px; }

#portada a {
  color: #fff;
  text-decoration: none;
  text-align: center; }

#sobreNosotros {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin: 5rem auto; }
  #sobreNosotros .sobreNosotros_img {
    width: 50%;
    margin: 2rem auto; }
  #sobreNosotros .sobreNosotros_texto {
    margin: 2rem auto;
    width: 50%; }
    #sobreNosotros .sobreNosotros_texto h2 {
      margin-bottom: 1.8rem;
      font-size: 2rem;
      font-weight: bold; }
    #sobreNosotros .sobreNosotros_texto p {
      line-height: 1.4rem;
      font-size: 1.2rem;
      text-align: justify; }

section .titulo h5 {
  padding: 2rem;
  margin: 2rem;
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
  font-family: 'Bebas Neue', cursive; }

section .tipos_cafe {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-left: 3rem;
  margin-right: 3rem;
  margin-bottom: 3rem; }
  section .tipos_cafe img {
    width: 75%; }
  section .tipos_cafe p {
    padding-top: 2rem;
    padding-bottom: 1rem;
    font-family: 'Bebas Neue', cursive;
    font-size: 1.5rem; }

section .boton_menu {
  display: inline-block;
  background-color: #b7986d;
  padding: 12px 32px;
  margin-bottom: 3rem; }
  section .boton_menu a {
    color: #f5f2eb;
    text-align: center;
    text-decoration: none; }

section .galeria {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  max-width: auto; }
  section .galeria img {
    width: 445px; }

footer {
  width: 100%;
  max-width: auto; }
  footer .contacto_footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 7rem;
    padding-bottom: 7rem;
    height: auto;
    color: #f5f2eb;
    background: #333333; }
    footer .contacto_footer ion-icon {
      padding: 0.8rem;
      background: #474747;
      border-top: 3px solid #b7986d; }
    footer .contacto_footer .color_iconos p {
      margin-top: 15px;
      color: #f5f2eb;
      font-size: 1rem;
      text-align: center; }
