@mixin titulo{
    font-size: 30px;
    margin-bottom: 20px;
    
}

.headerTres{
    width: 100%;
    height: 300px;
}
.mainTres {
    display: flex;
    justify-content: center;
    align-items:center;
    align-content: center;
    margin: 40px auto;
    text-align: center;
    text-transform: justify;
    div{
      width: 100%;
      img{
        width: 50%;
      }
    }
    
    
    .img{
      width: 100%;
      height: auto;
      img{
        border-radius: 10px;
      }
    }
    .parrafo{
      margin-left: 20px;
      width: 100%;
      text-align: justify;
      
    }
  } 
  main{ 
    .size{
      max-width: 70%;
      margin: auto;
    }
    h4{
      @include titulo;
    }

  }
  .productos {
    section{
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
      grid-gap: 1em;
    }
    h5{
      font-size: 20px;
      margin-bottom: 20px;
    }
    
  }
  
  .productos {
    section {
      .foto{
        img{
          width: 100%;
          vertical-align: top;
          opacity: .7;
        }
      }
    }
    
  }
  
  .productos {
    section{
      .foto{
        img:hover{
          opacity: 1;
          transition:all .4s ease;
        }
      }
    }
    
  }