/*grid Sobre Nosotros*/

.contenedorDos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.4fr 3.8fr 0.4fr;
    grid-auto-columns: 1fr;
    gap: 10px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "headerDos headerDos"
      "mainDos mainDos"
      "footerDos footerDos";
  }
  
  .headerDos {
    width: 100%;
    justify-self: center;
    grid-area: headerDos;
  }
  
  .mainDos {
  
    justify-self: center;
    grid-area: mainDos;
  }
  .footerDos {
  
    justify-self: center;
    align-self: center;
    grid-area: footerDos;
  }
  .background {
    background-color: #EBEBEB;
    margin: auto;
  
  }
  .color{
    padding-top: 50px;
    background-color: #333333;
    display: flex;
    align-items: center;
    justify-content:center;
    list-style: none;
    
      li{
        display: inline-block;
        margin: 10px;
        padding-top: 10px;
          a{
            color: #fff;
            padding: 10px;
            text-decoration: none;
            
          }
      }
  }
  .color li a:hover{
    color: #B7986D;
  }
  .mainDos{
    .banner{
    position: relative;
    display: inline-block;
    text-align: center;
    width: auto;
    height: 300px;
    background: #CCC;
    overflow: hidden;
    .textoEncima{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      p{
        color: #F5F2EB;
        text-transform: uppercase;
        font-size: 2em;
        font-family: 'Bebas Neue', cursive;
        letter-spacing:10px;
        line-height: 2em;
      }
    }
    img{
      width: 100%;
      height: auto;
    }
    }
      section{
        max-width: 70%;
        margin: auto;
          h2{
              color: #D4815E;
              font-size: 30px;
              text-transform: uppercase;
              padding-top: 40px;
              margin-top: 40px;
              padding-bottom: 20px;
          }
      }
  }
  .articulo{
      margin-top: 50px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      .texto{
          text-align: justify;
          margin: 20px;
          width: 50%;
          line-height: 27px;
          font-size: 1em;
      }
      .img {
          width: 50%;
          img {
              width: 100%;
              border-radius: 10px;
            -webkit-box-shadow: -8px 8px 5px -2px rgba(0,0,0,0.14);
            -moz-box-shadow: -8px 8px 5px -2px rgba(0,0,0,0.14);
            box-shadow: -8px 8px 5px -2px rgba(0,0,0,0.14);
          }
      }
  }
  section{
          h3{
              font-size:30px;
              text-transform: uppercase;
              padding-top: 40px;
              margin-top: 40px;
              padding-bottom: 20px;
          }
          .iconos {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-top: 40px;
            padding: 40px 0;
            text-align: bottom;
            img {
              padding: 20px 0;
              color: #B7986D;
            }
          }
      }
.footerDos {
    margin-top: 20px;
    width: 100%;
    background: #333333;
    border-radius: 5px;
    list-style: none;
  li {
    display: inline-block;
    margin: 10px;
    padding-top: 10px;
  }
    a {
      padding: 10px;
      text-decoration: none;
      color: #fff;
    }
    .redes{
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding:50px 0;
    }
}
  
