.background{
  background: #f5f2eb;
}

#portada_nosotros{
  background-image: url("../img/portada-nosotros.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  max-width: auto;
  height: 30rem;
  min-height: 500px;
  text-align: center;
  p{
    color: #D6D6D6;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2rem;
    clear: left;
    top: 15rem;
    left: 0;
    right: 0;
    position: absolute;
     
  }
}
#nosotros{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  max-width: auto;
  
  .nosotros_img{
    width: 45%;
    margin: 5% 5% 5% 10%;
    
    img{
      
      -webkit-box-shadow: -12px 14px 66px -26px rgba(0,0,0,0.75);
      -moz-box-shadow: -12px 14px 66px -26px rgba(0,0,0,0.75);
      box-shadow: -12px 14px 66px -26px rgba(0,0,0,0.75);
    }
    
    
  }
  .nosotros_texto{
    margin: 5% 10% 5% 0%;
    width: 55%;
    text-align: justify;
    line-height: 2rem;
    
  }
}
section{
  h3{
    font-family: 'Bebas Neue';
    font-size: 2rem;
    padding: 3rem;
    text-align: center;
  }
  .iconos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 3rem;
    p{
      font-family: 'Bebas Neue';
      font-size: 1.2rem;
      padding: 2rem;
      text-align: center;
    }
  }
}